In [37]:
import requests 
import pandas as pd
import numpy as np
import os

In [38]:
maindf = pd.DataFrame({"Address":''},index=[np.arange(1,10)])
maindf["Latitude"]=""
maindf["Longitude"]=""
maindf["Property Type"]=""
maindf["Lease Price"]=""
maindf["Sale Price"]= ""    
maindf['SizeInterior']=""
maindf.head()

  Address Latitude Longitude Property Type Lease Price Sale Price SizeInterior
1
2
3
4
5

In [39]:
Querycounter = 1
responses = []
for index, row in maindf.iterrows(): 
    try:
        latmin = np.random.uniform(low=41.3, high=43.6)
        latmax = np.random.uniform(low=43.6, high=43.9)
                                   
        lngmin = np.random.uniform(low=-76.6, high=-79.9)            
        lngmax = np.random.uniform(low=-79.3, high=-79.6)
        
        
        url = 'https://api2.realtor.ca/Listing.svc/PropertySearch_Post'
        body = {"CultureId":1,
        "ApplicationId":1,
        "PropertySearchTypeId":1,
        "TransactionTypeID":2,
        "BuildingTypeId":0,
        "LongitudeMin":{lngmin},
        "LongitudeMax":{lngmax},
        "LatitudeMin":{latmin},
        "LatitudeMax":{latmax}}
        response = requests.post(url, data=body).json()
        responses.append(response)
        print(f'Query {Querycounter}')
        Querycounter+=1
        
        maindf.loc[index, "Latitude"] = response['Results'][0]['Property']['Address']['Latitude']
        maindf.loc[index, "Longitude"] = response['Results'][0]['Property']['Address']['Longitude']
        maindf.loc[index,"Address"] = response['Results'][0]['Property']['Address']['AddressText']        
        maindf.loc[index,"Property Type"] = response['Results'][0]['Property']['Type']
        maindf.loc[index,"Lease Price"] = response['Results'][0]['Property']['LeaseRent']
        maindf.loc[index,"Sale Price"] = response['Results'][0]['Property']['Price']
        #df.loc[index,""] = response['Results'][0]['Land']['SizeTotal']
        maindf.loc[index,"Sq. Ftg."] = response['Results'][0]['Building']['SizeInterior']
                 
        print('---------------------------------------------------------------------------------------------------------------')
    except:
        print(f'City for coordinates')

Query 1
City for coordinates
Query 2
City for coordinates
Query 3
City for coordinates
Query 4
City for coordinates
Query 5
City for coordinates
Query 6
City for coordinates
Query 7
City for coordinates
Query 8
City for coordinates
Query 9
City for coordinates

In [40]:
maindf

,Address,Latitude,Longitude,Property Type,Lease Price,Sale Price,SizeInterior
1,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,
2,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,
3,"154 CRESTWOOD RD|Vaughan, Ontario L4J1A6",43.7975656,-79.4372788,Single Family,,,
4,|,43.7066352,-79.4236193,Single Family,,,
5,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,
6,|,43.7066352,-79.4236193,Single Family,,,
7,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,
8,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,
9,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,

In [41]:
maindf.Address

1    162 ST AUGUSTINE DR|St. Catharines, Ontario L2...
2    162 ST AUGUSTINE DR|St. Catharines, Ontario L2...
3             154 CRESTWOOD RD|Vaughan, Ontario L4J1A6
4                                                    |
5    162 ST AUGUSTINE DR|St. Catharines, Ontario L2...
6                                                    |
7    162 ST AUGUSTINE DR|St. Catharines, Ontario L2...
8    162 ST AUGUSTINE DR|St. Catharines, Ontario L2...
9    162 ST AUGUSTINE DR|St. Catharines, Ontario L2...
Name: Address, dtype: object

In [44]:
maindf['Postal_Code']=maindf['Address'].str[-6:]
maindf['Postal code prefix']=maindf['Postal_Code'].str[:3]
maindf

,Address,Latitude,Longitude,Property Type,Lease Price,Sale Price,SizeInterior,Postal_Code,Post_Prefix,Postal code prefix
1,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,,L2P3W1,L2P,L2P
2,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,,L2P3W1,L2P,L2P
3,"154 CRESTWOOD RD|Vaughan, Ontario L4J1A6",43.7975656,-79.4372788,Single Family,,,,L4J1A6,L4J,L4J
4,|,43.7066352,-79.4236193,Single Family,,,,|,|,|
5,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,,L2P3W1,L2P,L2P
6,|,43.7066352,-79.4236193,Single Family,,,,|,|,|
7,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,,L2P3W1,L2P,L2P
8,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,,L2P3W1,L2P,L2P
9,"162 ST AUGUSTINE DR|St. Catharines, Ontario L2...",43.1449655,-79.1989277,Single Family,,,,L2P3W1,L2P,L2P

In [45]:
cwd = os.getcwd()
print (cwd)
csvpath_one = "Postal_code_GTA.csv"
PostalCode_df = pd.read_csv(csvpath_one)
#info_df["Revenue"]=info_df["Price"]
PostalCode_df.head()

C:\Users\pasqu\OneDrive\Desktop

                    Area Postal code prefix
0  Hamilton-Stoney Creek                L8E
1  Hamilton-Stoney Creek                L8G
2  Hamilton-Stoney Creek                L8H
3  Hamilton-Stoney Creek                L8K
4  Hamilton-Stoney Creek                L8J

In [46]:
merge_table= pd.merge(maindf,PostalCode_df,on="Postal code prefix")
merge_table

,Address,Latitude,Longitude,Property Type,Lease Price,Sale Price,SizeInterior,Postal_Code,Post_Prefix,Postal code prefix,Area
0,"154 CRESTWOOD RD|Vaughan, Ontario L4J1A6",43.7975656,-79.4372788,Single Family,,,,L4J1A6,L4J,L4J,Thornhill
1,"154 CRESTWOOD RD|Vaughan, Ontario L4J1A6",43.7975656,-79.4372788,Single Family,,,,L4J1A6,L4J,L4J,Newmarket